@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witamy w Akademii Sztuk Walki</h1>
    <p>Odkryj moc i dyscyplinę sztuk walki w naszej nowoczesnej Akademii. Niezależnie od tego, czy jesteś początkujący, czy doświadczony wojownik, oferujemy różnorodne programy i kursy, które pomogą Ci osiągnąć swoje cele.</p>
    <h2>Dlaczego Wybrać Naszą Akademię?</h2>
    <p>
        <b>Doświadczeni Instruktorzy: </b>
        Nasi trenerzy to pasjonaci sztuk walki z wieloletnim doświadczeniem.
    </p>
    <p>
        <b>Nowoczesne Obiekty: </b>
        Oferujemy przestronną salę treningową wyposażoną w najnowocześniejszy sprzęt.
    </p>
    <p>
        <b>Dostosowane Programy: </b>
        Oferujemy różnorodne programy dopasowane do Twojego poziomu zaawansowania i celów.
    </p>
    <p>
        <b>Wspólnota: </b>
        Dołącz do naszej społeczności, która wspiera się wzajemnie w dążeniu do doskonałości.
    </p>
</div>
